*{
    margin: 0;
    padding: 0;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

body{
    display: flex;
    background-color: #fff;
    min-height: 100vh;
    justify-content: center;
}

.container{
    display: flex;
    position: absolute;
    flex-direction: column;
    min-width: 90%;
    min-height: 90vh;
    left: 1rem;
    right: 1rem;
    top: 1rem;
    bottom: 1rem;
}

.notification-bar{
    display: flex;
    align-items: center;
    margin-bottom: 1.5em;
}

.noti-box{
    display: flex;
    background-color: rgb(0, 26, 109);
    width: 2em;
    height: 1.5em;
    border-radius: 6px;
    margin-left: 0.8em;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 500;
}

.mark-box{
    display: flex;
    position: absolute;
    color: rgb(100, 100, 100);
    align-items: center;
    right: 0;
}

.infobox{
    display: flex;
    background-color: hsl(210, 60%, 98%);
    min-height: 4.5em;
    border-radius: 10px;
    align-items: center;
    margin-bottom: 1em;
}

.picbox{
    display: flex;
    position: absolute;
    width: 45px;
    height: 45px;
    border-radius: 25px;
    margin-left: 1rem;
    overflow: hidden;
    border: 0.1px solid rgb(195, 195, 195);
}

img{
    width: 100%;
    height: 100%;
}

.Name{
    color: black;
    font-weight: 800;
}

p{
    font-size: 1rem;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 5em;
    color: rgb(100, 100, 100);
}